<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.springboot.springboot.project.restaurant.RestaurantDao">

  <!-- <select id="getGuestbookList"
    parameterType="com.springboot.springboot.project.guestbook.GuestbookVO"
    resultType="com.springboot.springboot.project.guestbook.GuestbookVO">

    <![CDATA[
				select * from guestbook where 1=1
		]]>
		<if test="ch1=='guestbook_name'">
		<![CDATA[
			and guestbook_name like '%'||#{ch2}||'%'
		]]>
		</if>
		<if test="ch1=='guestbook_memo'">
		<![CDATA[	
			and guestbook_memo like '%'||#{ch2}||'%'
		]]>
		</if>
		<if test="ch1=='guestbook_today'">
		<![CDATA[
			and guestbook_today like '%'||#{ch2}||'%'
		]]>
		</if>
		<![CDATA[
			order by guestbook_idx desc
		]]>
  </select> -->
  
 </mapper>

