<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.springboot.springboot.project.shop.ShopDao">

  <select id="getProductList"
    parameterType="com.springboot.springboot.project.shop.ProductVO"
    resultType="com.springboot.springboot.project.shop.ProductVO">

    <![CDATA[
      select * from product where 1=1
		]]>
		<if test="ch1=='product_name'">
		<![CDATA[
			and product_name like '%'||#{ch2}||'%'
		]]>
		</if>
		<if test="ch1=='product_desc'">
		<![CDATA[
			and product_desc like '%'||#{ch2}||'%'
		]]>
		</if>
		<![CDATA[
			order by product_idx desc
		]]>
  </select>

	<select id="getProduct"
    parameterType="com.springboot.springboot.project.shop.ProductVO"
    resultType="com.springboot.springboot.project.shop.ProductVO">

    select * from product where product_idx = #{product_idx}
  </select>

  <insert id="productInsert" parameterType="com.springboot.springboot.project.shop.ProductVO">
      insert into product (product_idx, product_name, product_price, product_desc, product_imgStr) 
      values ((select nvl(max(product_idx), 50000) + 1 from product), #{product_name}, #{product_price}, #{product_desc}, #{product_imgStr})
  </insert>


	<select id="cartCheck"
    parameterType="com.springboot.springboot.project.shop.CartVO"
    resultType="com.springboot.springboot.project.shop.CartVO">
    select * from cart where member_idx = #{member_idx} and product_idx = #{product_idx}
  </select>

	<insert id="cartInsert" parameterType="com.springboot.springboot.project.shop.CartVO">
      insert into cart (cart_idx, product_idx, member_idx, product_name, product_amount, product_price, product_imgStr) 
      values ((select nvl(max(cart_idx), 60000) + 1 from cart), #{product_idx}, #{member_idx}, #{product_name}, #{product_amount}, 
				(#{product_amount} * #{product_price}), #{product_imgStr})
  </insert>

	<update id="cartUpdate" parameterType="com.springboot.springboot.project.shop.CartVO">
      update cart set product_price = product_price + (#{product_amount} * #{product_price}), product_amount = product_amount + #{product_amount}
      	where product_idx = #{product_idx}
  </update>

	<select id="adminGetCartList"
    parameterType="com.springboot.springboot.project.shop.CartVO"
    resultType="com.springboot.springboot.project.shop.CartVO">
    select * from cart order by cart_idx
  </select>

	<select id="getCartList"
    parameterType="com.springboot.springboot.project.shop.CartVO"
    resultType="com.springboot.springboot.project.shop.CartVO">
    select * from cart where member_idx = #{member_idx}
  </select>

	<update id="cartUpdateAll" parameterType="com.springboot.springboot.project.shop.CartVO">
      update cart set product_price = #{product_price}, product_amount = #{product_amount}
      	where cart_idx = #{cart_idx}
  </update>

	<delete id="cartDelete" parameterType="com.springboot.springboot.project.shop.CartVO">
      delete from cart where cart_idx = #{cart_idx}
  </delete>


	<select id="order_idx" resultType="int">
    select nvl(max(order_idx), 70000) + 1  from orderTBL
  </select>

	<delete id="cartDeleteAll" parameterType="com.springboot.springboot.project.shop.CartVO">
      delete from cart where member_idx = #{member_idx}
  </delete>

	<insert id="orderInsert" parameterType="com.springboot.springboot.project.shop.OrderVO">
      insert into orderTbl (order_idx, cart_idx, product_idx, member_idx, product_name, product_amount, product_price, order_price, product_imgStr) 
      values (#{order_idx}, #{cart_idx}, #{product_idx}, #{member_idx}, #{product_name}, #{product_amount}, 
				#{product_price}, #{order_price}, #{product_imgStr})
  </insert>

	<select id="adminGetOrderList"
    parameterType="com.springboot.springboot.project.shop.OrderVO"
    resultType="com.springboot.springboot.project.shop.OrderVO">
    select * from orderTbl order by order_idx
  </select>

	<select id="getOrderList"
    parameterType="com.springboot.springboot.project.shop.OrderVO"
    resultType="com.springboot.springboot.project.shop.OrderVO">
    select * from orderTbl where member_idx = #{member_idx} order by order_idx
  </select>

 </mapper>

