<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>스프링 게시판</title>
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <nav id="nav">
    <div class="list-container">
      <h2>Protfolio</h2>
      <ul class="list">
        <li><a class="button" href="/">시작으로</a></li>
        <li><a class="button" href="/thymeleaf/thymeleaf">홈으로</a></li>
      </ul>
    </div>
    <div class="list-container">
      <h4>방명록</h4>
      <ul class="list">
        <li><a class="button" href="/thymeleaf/guestbook/tGetGuestbookList"> 목록보기 </a></li>
        <li><a class="button" href="/thymeleaf/guestbook/tGuestbookAdd"> 방명록 추가 </a></li>
        <li><a class="button" href="/thymeleaf/guestbook/tGuestbookForm"> 글쓰기 </a></li>
      </ul>
    </div>
    <div class="list-container">
      <h4>맛집</h4>
      <ul class="list">
        <li><a class="button" href="/thymeleaf/restaurant/tGetRestaurantList"> 맛집목록 </a></li>
        <li><a class="button" href="/thymeleaf/restaurant/tGetRestaurantMap"> 맛집지도 </a></li>
      </ul>
    </div>
  </nav>