<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace=~{/include/thymeleafTop}></div>

<section>
  <br>
  <div class="record-info">
    <div>1. 페이지 사이즈: [[${pageSize}]]</div>
    <div>2. 페이지 List사이즈: [[${pageListSize}]]</div>
    <div>3. 전체 레코드 수: [[${totalCount}]]</div>
    <div>4. 총 페이지 수: [[${totalPage}]]</div>
</div>
<div class="record-info">
    <div>5. 현재 레코드: [[${start}]]</div>
    <div>6. 현재 페이지: [[${currentPage}]]</div>
    <div>7. 가로 하단 시작: [[${listStartPage}]]</div>
    <div>8. 가로 하단 마지막: [[${listEndPage}]]</div>
</div>
  <br>
  <div align="center">
    <h2>방명록 목록</h2>
    <br>
    <table border="1">
      <tr>
        <th colspan="7">
          <div style="text-align: left; float: left;">
            <a class="button" th:href="@{/thymeleaf/guestbook/tGuestbookAdd}"> 방명록 추가 </a>
          </div>
          <div style="text-align: right; float: right;">
            <a class="button" th:href="@{/thymeleaf/guestbook/tGuestbookForm}"> 글쓰기 </a>
          </div>
        </th>
      </tr>
      <tr>
        <th>rownum</th>
        <th>rnum</th>
        <th>번호</th>
        <th>이름</th>
        <th class="memo">메모</th>
        <th>날짜</th>
        <th>삭제</th>
      </tr>
      <tr th:each="record : ${li}">
        <td th:text="${record.rownum}"></td>
        <td th:text="${record.rnum}"></td>
        <td th:text="${record.guestbook_idx}"></td>
        <td>
          <a class="button"
            th:href="@{/thymeleaf/guestbook/tGetGuestbook(guestbook_idx=${record.guestbook_idx},start=${start},ch1=${ch1},ch2=${ch2})}"
            th:text="${record.guestbook_name}"></a>
        </td>
        <td>
          <span
            th:utext="${record.guestbook_memo.length() > 10 ? record.guestbook_memo.subSequence(0, 10) + '...' : record.guestbook_memo}"></span>
        </td>
        <td th:text="${record.guestbook_today}"></td>
        <td>
          <a href="#" th:onclick="|confirmDelete('${record.guestbook_idx}'); return false;|">삭제</a>
        </td>
      </tr>
    </table>

    <div style="margin: 8px 0;">

      <a class="button" th:href="@{/thymeleaf/guestbook/tGetGuestbookList(start=1, ch1=${ch1}, ch2=${ch2})}">처음으로</a>
      <a class="button"
        th:href="@{/thymeleaf/guestbook/tGetGuestbookList(start=${start - pageSize},ch1=${ch1},ch2=${ch2})}"
        th:if="${start != 1}">이전</a>
      <span th:if="${start == 1}">이전</span>

      <span th:each="i: ${#numbers.sequence(listStartPage, listEndPage)}">
        <span th:with="startVar=${(i-1) * pageSize + 1}">
          <span th:if="${i <= totalPage}">
            <a class="button"
              th:href="@{/thymeleaf/guestbook/tGetGuestbookList(start=${startVar},ch1=${ch1},ch2=${ch2})}"
              th:text="${i}"></a>&nbsp;
          </span>
        </span>
      </span>

      <a class="button"
        th:href="@{/thymeleaf/guestbook/tGetGuestbookList(start=${start + pageSize},ch1=${ch1},ch2=${ch2})}"
        th:if="${currentPage != totalPage}">다음</a>
      <span th:if="${currentPage == totalPage}">다음</span>

      <a class="button"
        th:href="@{/thymeleaf/guestbook/tGetGuestbookList(start=${lastPage},ch1=${ch1},ch2=${ch2})}">마지막으로</a>

    </div>
    <form th:action="@{/thymeleaf/guestbook/tGetGuestbookList}" method="get">
      <select name="ch1">
        <option value="guestbook_name">이름</option>
        <option value="guestbook_memo">메모</option>
        <option value="guestbook_today">날짜</option>
      </select>
      <input type="text" name="ch2">
      <input type="submit" value="검색">
    </form>
  </div>
  <br>
</section>

<script th:inline="javascript">
  function confirmDelete(guestbook_idx) {
    var result = confirm("정말로 삭제하시겠습니까?");
    if (result) {
      location.href = 'tGuestbookDelete?guestbook_idx=' + guestbook_idx + '&start=[[${start}]]&ch1=[[${ch1}]]&ch2=[[${ch2}]]';
    }
    return result;
  }
</script>


<div th:replace="~{/include/thymeleafBottom}"></div>

</html>