@charset "UTF-8";

:root {
	--check-color: #393527;
	/* --gradation-background-color: linear-gradient(#D8D5C4, #fff); */
	--main-background-color: #fff;

	--point-color: rgba(187, 185, 185, 0.5);

	--main-color: #474747;
	--button-color: #000;
}

* {
	margin: 0;
	padding: 0;
}

body {
<<<<<<< Updated upstream
	/* width: 90%; */
=======
>>>>>>> Stashed changes
	margin: auto;
}

nav {
	background: var(--main-background-color);
	color: var(--main-color);
	height: 80px;
	line-height: 80px;
	font-size: 16px;
	text-align: left;
	position:relative;
	cursor: default;
}

section {
	position: relative;
	background: var(--main-background-color);
	color: var(--main-color);
	min-height: 700px;
	line-height: 25px;
	font-size: 16px;
	text-align: left;
}

footer {
	border-top: 1px solid var(--point-color);
	background: var(--main-background-color);
	color: var(--main-color);
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
}

th {
	height: 36px;
	font-weight: bold;
	background: var(--point-color);
}

td {
	height: 32px;
	padding: 0px 4px;
}

.memo {
	width: 170px;
}

a {
	margin: 2px;
	padding: 4px;
	border: 1px solid transparent;
	text-decoration: none;
	color: var(--button-color);
	font-weight: bold;
	transition: border 0.3s ease;
}

a:hover {
	border: 1px solid var(--point-color);
	background: var(--point-color);
	border-radius: 4px;
}

.start-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  padding: 40px;
  border: 1px solid var(--point-color);
  border-radius: 50%;
  display: inline-block;
  transition: transform 0.3s ease-in-out; /* 호버 효과를 부드럽게 만들기 위한 트랜지션 추가 */
}

.logo:hover {
  transform: rotateY(180deg) rotateY(180deg);
	border: 1px solid var(--point-color);
  border-radius: 20px;
}

#nav {
	display: flex;
	z-index: 3;
	justify-content: space-around;
}

#nav.active .list {
	top: 100%;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.list-container {
	box-shadow: 0 2px 1px var(--point-color);
	text-align: center;
	position: relative;
	flex: 1;
}

.list {
	height: 240px;
	box-shadow: 0 2px 1px var(--point-color);
	z-index: 2;
	position: absolute;
	top: calc(100% - 100px);
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	pointer-events: none;

	background: var(--main-background-color);
}

.record-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 12px 4px 12px;
}

.record-info div {
	flex: 0 0 calc(25% - 1px);
	box-sizing: border-box;
}