@charset "UTF-8";

:root {
	--check-color: #393527;
	--main-background-color: linear-gradient(#BDB1A1, #D8D5C4);;  /* CSS 전역 변수 선언 */
	--point-background-color: #BDB1A1; 

	--main-color: #fff;
	--button-color: #97927c;
}

header {
	border-bottom: 1px solid white;
	background: var(--main-background-color);
	color: var(--main-color);
	height: 100px;
	line-height: 100px;
  font-weight: bold;
	font-size: 40px;
	text-align: center;
}

nav {
	border-bottom: 1px solid white;
	background: var(--main-background-color);
	color: var(--main-color);
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: left;
}

th {
	font-weight: bold;
	background: var(--point-background-color);
}

a {
	text-decoration: none;
	color: var(--button-color);
	font-weight: bold;
}

section {
	background: var(--main-background-color);
	color: var(--main-color);
	min-height: 700px;
	line-height: 25px;
	font-size: 16px;
	text-align: left;
}

footer {
	border-top: 1px solid white;
	background: var(--main-background-color);
	color: var(--main-color);
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
}

td {
	padding: 0px 4px;	
}